* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: rgb(45, 170, 247);
    color: white;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

textarea {
    width: 40rem;
}

.container {
    width: 80vw;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    margin-left: 10%;
    background-color: rgb(245, 236, 224);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.input-comment {
    width: 95%;
    margin-top: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.input-comment textarea {
    width: 80%;
    height: 5rem;
    padding: 1rem;
    resize: none;
}

.input-comment button {
    width: 8rem;
    height: 3rem;
    align-self: flex-end;
    font-size: 1rem;
}

.comments-container {
    width: 95%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.5rem;
    border-left: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
    border-radius: 1rem;
}

.comment > textarea {
    display: none;
    height: 3rem;
    padding: 1rem;
    resize: none;
}

.comment-btn-container {
    display: flex;
    gap: 2rem;
}

.comment > .comment-btn-container > button {
    width: 6rem;
    height: 2.5rem;
    font-size: 1rem;
}

.comment > .comment-btn-container > .delete-button {
    background-color: red;
}

.reply-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
}

.reply {
    border-left: 2px solid lightgray;
    border-radius: 0.5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.reply > textarea {
    display: none;
    height: 2rem;
    padding: 0.5rem;
    resize: none;
}

.reply > .reply-btn-container {
    display: flex;
    gap: 1rem;
}

.reply > .reply-btn-container > button {
    background: none;
    color: rgb(45, 170, 247);
}

.reply > .reply-btn-container > .delete-button {
    background: none;
    color: red;
}